<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD9038A82838BA2B00AB172B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD9038BE2838BA2E00AB172B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDD9ACD0284B39F200561721</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
